.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    gap: 15px; /* Espacio entre los elementos */
    flex-wrap: wrap; /* Permite que el contenido se ajuste si no cabe en una línea */
}

.footer p {
    margin: 0; /* Elimina el margen del párrafo */
}

.footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}
