:root{
    --beige: #EAE7DD;
    --cafe: #99775C;
    --gris: #5B5B5B;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 2.6rem;
    color: var(--gris);
    margin: 0;
}
h2{
    color: var(--gris);
    text-align: center;
    font-size: 1.8rem;

}

body{
    height: 100vh;
    background-color: var(--beige);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-opciones{
    display: flex;
    gap: 5rem
}
.icono{
    width: 11rem;
    margin-bottom: 1rem;
}
a img{
   width: 20rem;
   border: 2px solid var(--gris);
   border-radius: 50%;
}
.contenedor{
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}